@model ERP_JOSEREIS.ViewModels.FornecedorViewModel

<fieldset>
    <legend>Pessoa Física</legend>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <div class="display-label">
            @Html.DisplayNameFor(model => model.pessoaFisica.Bairro)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.pessoaFisica.Bairro)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.pessoaFisica.Nome)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.pessoaFisica.Nome)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.pessoaFisica.RG)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.pessoaFisica.RG)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.pessoaFisica.TelefoneCelular)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.pessoaFisica.TelefoneCelular)
        </div>
}
</fieldset>
<p>
    <input type="submit" value="Delete" />
    @Html.ActionLink("Back to list", "Index")
</p>