@model ERP_JOSEREIS.ViewModels.FornecedorViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Fornecedor</legend>

        @if (Model.pessoaFisica != null)
        {
            @Html.Partial("FornecedorPessoaFisica")
        }
        else
        {
            @Html.Partial("FornecedorPessoaJuridica")
        }

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
