@model ERP_JOSEREIS.ViewModels.ClienteViewModel

<fieldset>
    <legend>PessoaFisica</legend>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.PessoaFisica.DataNascimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PessoaFisica.DataNascimento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PessoaFisica.CPF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PessoaFisica.CPF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PessoaFisica.TelefoneCelular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PessoaFisica.TelefoneCelular)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PessoaFisica.RG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PessoaFisica.RG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PessoaFisica.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PessoaFisica.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PessoaFisica.DataCadastro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PessoaFisica.DataCadastro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PessoaFisica.Rua)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PessoaFisica.Rua)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PessoaFisica.Numero)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PessoaFisica.Numero)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PessoaFisica.Bairro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PessoaFisica.Bairro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PessoaFisica.CEP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PessoaFisica.CEP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PessoaFisica.TelefoneComercial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PessoaFisica.TelefoneComercial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PessoaFisica.TelefoneResidencial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PessoaFisica.TelefoneResidencial)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id= Model.PessoaFisica.IdPessoa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
